// Background color:
$main: #000000;
$fone: #ffffff;
$fone-main: #F8F8F8;

// Text:
$text-main: #000000;
$text-main-alt: #ffffff;
$text-main-art: #c4c4c4;
$text-highlight: #FF0000;

// Element
$element-main: #FF0000;

