// Background color:
$main: #000000;
$fone: #ffffff;
$fone-main: #F8F8F8;

// Text:
$text-main: #000000;
$text-main-alt: #ffffff;
$text-main-art: #c4c4c4;
$text-main-title:#C6C6C6;
$text-fone-title: #ffffff;
$text-highlight: #FE0000;

// Element
$element-main: #FE0000;


// Border
$border-hover: #FE0000;

